registry=https://artifactory.allstate.com/artifactory/api/npm/npm
strict-ssl=false
_auth = aGdheWQ6QVA1dlFRa0VQY0hBYlpYcHRyUnVjR01tNmpq
always-auth = true
phantomjs_cdnurl=https://artifactory.allstate.com/artifactory/npm-external-zips/phantomjs
sass_binary_site=https://artifactory.allstate.com/artifactory/npm-external-zips/node-sass
